div.settingsMenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  background-color: #111822;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 40%);
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 10px;
  z-index: 1;
}