div.settingsMenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  background-color: #000000;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 12px;
  border: 1px solid #0f141d;
  padding: 5px 10px;
  margin-bottom: 10px;
  z-index: 1;
}