button.btn {
  width: 100%;
  padding-block: 15px;
  font-weight: 500;
  color: #9639ff;
  background-color: #9639ff27;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.1s ease;

  i {
    margin-right: 8px;

    &.spin {
      -webkit-animation: spin 1.5s linear infinite;
      -moz-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &.disabled {
    background-color: #8792922e;
    color: #879292;

    &:active {
      transform: scale(1);
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}